# https://github.com/purarue/dotfiles/blob/master/.gitignore

/code

/.ssh
/.local/share/yadm
/.local/share/mise
/.local/state/mise
/.local/bin
/.cache

# gpg
/.gnupg

# yai-cli
/.config/yai-cli

# npm
/.npm

# qwen code
/.config/configstore/update-notifier-@qwen-code
/.qwen

# .lesshst is created by less command, to storage history of less command.
/.lesshst

# .viminfo is used to store command line history; search string history; input-line history...
/.viminfo

# Ignore README - handled by git hooks -- see .config/yadm/yadm-with-README.md 
/README.md
/.config/yadm/README.md

# goup
/.go
/.config/go/telemetry
/go
/.config/gopls

# vscode
/.vscode-server
/.vscode-remote-containers

/.dotnet

/.bash_history

/.wget-hsts

# tiup
/.tiup
